<ed-page [navigation]="'admin-users'">

	<div *ngIf="userRequest?.data$ | async; else loadOrErrorUser.template" >
		
		<form (ngSubmit)="onSubmitProfile()" [formGroup]="formProfile"  >
			<h3 class="page-heading">Edit User</h3>
			<ed-textbox
				[label]="'Name'"
				[labelWidth]="10"
				formControlName="name">
				<ng-template edValidationTemplate *ngIf="name.hasError( 'required' ) && name.touched">
					please enter name
				</ng-template>
			</ed-textbox>

			<ed-textbox
				[label]="'Email'"
				[labelWidth]="10"
				formControlName="email">
				<ng-template edValidationTemplate *ngIf="(email.hasError( 'email' ) || email.hasError( 'required' ) ) && email.touched">
					email must be a valid email address
				</ng-template>
			</ed-textbox>

			<ed-textbox
				[label]="'Username'"
				[labelWidth]="10"
				formControlName="login">
				<ng-template edValidationTemplate *ngIf="(login.hasError( 'required' ) ) && login.touched">
					please enter user name
				</ng-template>
			</ed-textbox>

			<div class="gf-form-button-row ed-flex" >
				<button type="submit" class="btn btn-success" [disabled]="!formProfile.valid || waitingProfile">Update</button>
				<ed-progress message="updating user profile..." *ngIf="waitingProfile" ></ed-progress>
			</div>

		</form>

		<form (ngSubmit)="onSubmitPassword()" [formGroup]="formPassword" class="mt-5" >

			<h3 class="page-heading">Change password</h3>

			<ed-textbox
				[label]="'Password'"
				[labelWidth]="10"
				[type]="'password'"
				formControlName="password">
				<ng-template edValidationTemplate *ngIf="(password.hasError( 'required' ) ) && password.touched">
					please enter password
				</ng-template>
			</ed-textbox>

			<div class="gf-form-button-row ed-flex" >
				<button type="submit" class="btn btn-success" [disabled]="!formPassword.valid || waitingPassword">Update</button>
				<ed-progress message="updating password..." *ngIf="waitingPassword" ></ed-progress>
			</div>

		</form>
	</div>
	
	<load-or-error #loadOrErrorUser 
		[loadingMessage]="'loading user...'"
		[loadingWrapper]="userRequest"
		[errorMessage]="messages.BAD_GET_USER">
	</load-or-error>
</ed-page>