@import 'variables';

.cp__wrapper{
	padding: $spacer * 0.6;
	border-radius: $border-radius;
	word-wrap: break-word;
	width: 210px;
	background: $dark-2;
	box-shadow: $popover-shadow;

	.graph-legend-popover > *{
		cursor: pointer;
		margin-right: 2px;
	}
}
