@import 'variables';
@import 'mixins/all';
@import 'components/hints';

@mixin panel-corner-color($corner-bg) {
  .panel-info-corner-inner {
    border-left: 27px solid $corner-bg;
    border-right: none;
    border-bottom: 27px solid transparent;
  }
}

.panel-info-corner {
  color: $text-muted;
  cursor: pointer;
  position: absolute;
  display: none;
  left: 0;
  width: 27px;
  height: 27px;
  top: 0;
  z-index: 1;

  .fa {
    position: relative;
    top: -2px;
    left: 6px;
    font-size: 75%;
    z-index: 1;
  }

  &--info {
    display: block;
    @include panel-corner-color(lighten($panel-bg, 4%));
    .fa:before {
      content: '\f129';
    }
  }

  &--links {
    display: block;
    @include panel-corner-color(lighten($panel-bg, 4%));
    .fa {
      left: 4px;
    }
    .fa:before {
      content: '\f08e';
    }
  }

  &--error {
    display: block;
    color: $text-color;
    @include panel-corner-color($popover-error-bg);
    .fa:before {
      content: '\f12a';
    }
  }
}

.panel-info-corner-inner {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.markdown-html{
  ul { 
    text-align: left; 
    a {
      color: $white;
    }
  }
}

.p-tooltip-hover-text {
  max-width: 400px ;
  padding: 8px ;
  color: $tooltipColor ;
  text-align: center ;
  text-decoration: none ;
  background-color: $tooltipBackground ;
  border-radius: 2px ;

  font-size: $font-size-base;
  font-family: $font-family-base;
  
  font-size: 11px;
  line-height: 1.4;
}


.info__triangle-down{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid $tooltipBackground;
	margin-top: -3px;
	margin-left: 5px;
}
