@import 'variables';
@import 'mixins/all';

.submenu-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;

  margin: 0 0 $panel-margin 0;
}