@import 'variables';

.query-troubleshooter {
  font-size: $font-size-sm;
  margin: $gf-form-margin;
  border: 1px solid $btn-secondary-bg;
  min-height: 100px;
  border-radius: 3px;
  position: relative;
}

  
.query-troubleshooter__spinner{
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 800;
  font-size: $font-size-sm;
  color: $text-color-weak;
}

.query-troubleshooter__header {
  float: right;
  font-size: $font-size-sm;
  text-align: right;
  padding: $input-padding-y $input-padding-x;
  a {
    margin-left: $spacer;
  }
}

.query-troubleshooter__body {
  padding: $spacer 0;
}

