<div class="gf-form" [ngClass]="getWrapperWidth()"  >

  <div class="gf-form-label" [ngClass]="getLabelWidth()" *ngIf="label">
    {{label}}

    <span [pTooltip]="tooltip" *ngIf="tooltip" class="gf-form-help-icon gf-form-help-icon--right-normal" >
      <i class="fa fa-info-circle ml-1" ></i>
    </span>

    <span *ngIf="hint" class="gf-form-help-icon gf-form-help-icon--right-normal" >
      <i class="fa fa-info-circle ml-1" [pTooltip]="hint" ></i>
    </span>
    
  </div>

  <p-dropdown 
    [(ngModel)]="value"
    [options]="data"
    [disabled]="disabled"
    [showTransitionOptions]="'0ms'"
    [hideTransitionOptions]="'0ms'"
    [placeholder]="placeholder" 
    [readonly]="readonly"
    [ngClass]="getContentClass()"
    appendTo="body"
    [dropdownIcon]="getDropDownIcon()"
    (click)="dropClick.emit($event)"
    [panelStyleClass]="prettySelection ? 'pretty': 'notmal'"
    [styleClass]="getStyleClass()"
    [baseZIndex]="2001"
    ngDefaultControl >

    <ng-template let-item pTemplate="item" *ngIf="valueTemplate">
      <ng-container [ngTemplateOutlet]="valueTemplate.templateRef" 
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-container>
      
    </ng-template>

    <ng-template let-item pTemplate="selectedItem" *ngIf="selectedValueTemplate">
      <ng-container [ngTemplateOutlet]="selectedValueTemplate.templateRef" 
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-container>
    </ng-template>

  </p-dropdown>

</div>



