<h3 class="page-headering">Dashboards</h3>

<ed-grid 
	[data]="items"
	[selectable]="false"
	[highlight]="false"
	[showHeader]="false"	>

	<ed-grid-column  >
		<ng-template  let-dataItem let-rowIndex="rowIndex">

			<ng-container [ngSwitch]="dataItem.type">
				<ng-container *ngSwitchCase="PlaylistItemTypeRef.Id" >
					<i class="icon-gf icon-gf-dashboard"></i>&nbsp;&nbsp;{{dataItem.title}}
				</ng-container>

				<ng-container *ngSwitchCase="PlaylistItemTypeRef.Tag" >
					<ed-tag [text]="dataItem.title" [showIcon]="true"></ed-tag>
				</ng-container>
				
			</ng-container>
			
		</ng-template>
	</ed-grid-column>

	<ed-grid-column>
		<ng-template let-dataItem let-rowIndex="rowIndex">
			<div class="selected-playlistitem-settings">
				<button class="btn btn-inverse btn-mini" *ngIf="rowIndex!=0" (click)="onUp( dataItem );$event.preventDefault();">
					<i class="fa fa-arrow-up"></i>
				</button>
				<button class="btn btn-inverse btn-mini ml-1" *ngIf="rowIndex!=items.length - 1" (click)="onDown( dataItem );$event.preventDefault();">
					<i class="fa fa-arrow-down"></i>
				</button>
				<button class="btn btn-inverse btn-mini ml-1" (click)="onDelete( dataItem );$event.preventDefault();">
					<i class="fa fa-remove"></i>
				</button>
			</div>
			
		</ng-template>
	</ed-grid-column>

</ed-grid>

<div *ngIf="!items?.length" >
	<em class="muted">Playlist is empty, add dashboards below.</em>
</div>

