<h3 class="page-headering">Dashboards</h3>

<ed-grid 
	[data]="playlist?.items"
	[selectable]="false"
	[highlight]="false"
	[showHeader]="false"	>

	<ed-grid-column  >
		<ng-template let-dataItem let-rowIndex="rowIndex">
			<i class="icon-gf icon-gf-dashboard"></i>&nbsp;&nbsp;{{dataItem.title}}
		</ng-template>
	</ed-grid-column>

	<ed-grid-column>
		<ng-template let-dataItem let-rowIndex="rowIndex">
			<div class="selected-playlistitem-settings">
				<button class="btn btn-inverse btn-mini" *ngIf="rowIndex!=0" (click)="onUp( dataItem );$event.preventDefault();">
					<i class="fa fa-arrow-up"></i>
				</button>
				<button class="btn btn-inverse btn-mini ml-1" *ngIf="rowIndex!=playlist.items.length - 1" (click)="onDown( dataItem );$event.preventDefault();">
					<i class="fa fa-arrow-down"></i>
				</button>
				<button class="btn btn-inverse btn-mini ml-1" (click)="onDelete( dataItem );$event.preventDefault();">
					<i class="fa fa-remove"></i>
				</button>
			</div>
			
		</ng-template>
	</ed-grid-column>

</ed-grid>

<div *ngIf="!playlist?.items?.length" >
	<em class="muted">Playlist is empty, add dashboards below.</em>
</div>

