<ed-page [navigation]="navigation">
	<form (ngSubmit)="onSubmitProfile()" [formGroup]="formProfile" class="section gf-form-group">
		<h3 class="page-sub-heading">Team Settings</h3>

		<ed-textbox
			[label]="'Name'"
			[labelWidth]="10"
			[placeholder]="'name'"
			formControlName="name">
			<ng-template edValidationTemplate *ngIf="name.hasError( 'required' ) && name.touched">
				please enter team name
			</ng-template>
			<ng-template edValidationTemplate *ngIf="name.hasError( 'invalidTeamNameTaken' ) && name.touched">
				team name is already	in use
			</ng-template>
		</ed-textbox>

		<ed-textbox
			[label]="'Email'"
			[labelWidth]="10"
			[placeholder]="'email@test.com'"
			[tooltip]="'This is optional and is primarily used for allowing custom team avatars.'"
			formControlName="email">
			<ng-template edValidationTemplate *ngIf="(email.hasError( 'email' ) || email.hasError( 'required' ) ) && email.touched">
				email must be a valid email address
			</ng-template>
		</ed-textbox>

		<div class="gf-form-button-row ed-flex">
			<button type="submit" class="btn btn-success"
				[disabled]="!formProfile.valid || waitingProfile" > Update
			</button>

			<ed-progress message="updating team profile..." *ngIf="waitingProfile" ></ed-progress>
		</div>
	</form>

	<ed-preferences 
		[loader$]="loaderPrefs$"
		(update)="onSubmitPreferences($event)">
	</ed-preferences>

</ed-page>