<ed-page [navigation]="'admin-orgs'">
	<h2 class="page-sub-heading">
		New Organization
	</h2>

	<p class="org-description">Each organization contains their own dashboards, data sources and configuration, and cannot be shared between orgs. While users may belong to more than one, multiple organization are most frequently used in multi-tenant deployments. </p>

	<form (ngSubmit)="onSubmit()" [formGroup]="form" class="gf-form-group">
		<ed-textbox
			[label]="'Org. name'"
			[labelWidth]="10"
			[placeholder]="'organization name'"
			formControlName="name">
			<ng-template edValidationTemplate *ngIf="name.hasError( 'required' ) && name.touched">
				please enter organization name
			</ng-template>
		</ed-textbox>

		<div class="gf-form-button-row ed-flex" >
			<button type="submit" class="btn btn-success" [disabled]="!form.valid || waiting">Create</button>
			<ed-progress message="creating new org..." *ngIf="waiting" ></ed-progress>
		</div>
	</form>

</ed-page>