<ed-page [navigation]="'apikeys'">

	<div *ngIf="keysRequest?.data$ | async; else loadOrError.template">

		<div *ngIf="keys?.length > 0; else invitation">
			<div class="page-action-bar">
				<ed-filterbox placeholder="Search keys" 	[(ngModel)]="filter"></ed-filterbox>
		
				<div class="page-action-bar__spacer" ></div>
		
				<a class="btn btn-success"  (click)="showAddKeyBand=true"><i class="fa fa-plus mr-1"></i>Add API Key</a>
			</div>
				
			<add-api-key *ngIf="showAddKeyBand" (close)="onCloseAddBand($event)">
			</add-api-key>
	
			<h3 class="page-heading">Existing Keys</h3>
	
			<ed-grid [data]="keys|apiKeyNameFilter:filter" [highlight]="false"	>
				<ed-grid-column field="name" title="Name">
				</ed-grid-column>
	
				<ed-grid-column field="role" title="Role">
				</ed-grid-column>
				
				<ed-grid-delete-column (delete)="onRemoveKey($event)">
				</ed-grid-delete-column>
	
			</ed-grid>
		</div>

		<ng-template #invitation>
			<ed-empty-list *ngIf="!showAddKeyBandEmpty"
				(ready)="showAddKeyBandEmpty=true"
				title="You haven't added any API Keys yet."
				buttonTitle="New API Key"
				buttonIcon="fa fa-plus"
				proTip="Remember you can provide view-only API access to other applications.">
			</ed-empty-list>
		</ng-template>

	</div>

	<add-api-key *ngIf="showAddKeyBandEmpty" (close)="onCloseAddBand($event)">
	</add-api-key>
	
	<load-or-error #loadOrError
		[loadingWrapper]="keysRequest"
		[loadingMessage]="'loading api keys...'"
		[errorMessage]="messages.BAD_GET_KEYS">
	</load-or-error>

</ed-page>



