@import 'variables';


.share-modal-body {
  padding: 10px 0;
  margin: 0.5 * $spacer;

  .tight-form {
    text-align: left;
  }

  .share-modal-options {
    margin: 11px 0px 33px 0px;
    display: inline-block;
  }

  .share-modal-big-icon {
    margin-bottom: 10px;
    margin-right: 2rem;
    .fa,
    .icon-gf {
      font-size: 50px;
    }
  }

  .share-modal-info-text {
    margin-top: 5px;
    strong {
      color: $headings-color;
      font-weight: 500;
    }
  }

  .share-modal-header {
    display: flex;
    margin: 0px 0 22px 0;
  }

  .share-modal-content {
    flex-grow: 1;
  }

  .tight-form {
    text-align: left;
  }

  .share-modal-link {
    max-width: 716px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
}

