<ed-page [navigation]="'org-settings'">
	<form (ngSubmit)="onSubmitProfile()" [formGroup]="formProfile" class="section gf-form-group">
		<h3 class="page-sub-heading">Organization profile</h3>

		<ed-textbox
			[label]="'Name'"
			[labelWidth]="10"
			[placeholder]="'name'"
			formControlName="name">
			<ng-template edValidationTemplate *ngIf="name.hasError( 'required' ) && name.touched">
				please enter organization name
			</ng-template>
		</ed-textbox>

		<div class="gf-form-button-row ed-flex">
			<button type="submit" class="btn btn-success"
				[disabled]="!formProfile.valid || waitingProfile" > Update
			</button>

			<ed-progress message="updating org profile..." *ngIf="waitingProfile" ></ed-progress>
		</div>
	</form>

	<ed-preferences 
		[loader$]="loaderPrefs$"
		(update)="onSubmitPreferences($event)">
	</ed-preferences>

</ed-page>