<dashboard-toolbar [fullscreen]="true"></dashboard-toolbar>

<div class="pe-content">

	<div class="px-5 py-5" [ngClass]="{'pe-widget-e': showEditor, 'pe-widget-v': !showEditor}"  >
			
		<ng-template widget-anchor></ng-template>
		
	</div>

	<div class="pe-editor px-5" *ngIf="!readOnly && showEditor" >

		<div *ngIf="loadingPluginError" class="plugin-loading-error text-warning">
			Failed to load and create [{{panel.type}}] editor instance</div>

    <ng-template widget-editor-anchor></ng-template>
  </div>
</div>
