<div class="sidemenu__bottom">
	<div *ngFor="let item of items" class="sidemenu-item dropup" >
		<a class="sidemenu-link" [routerLink]="item?.url" target={link.target}>
			<span class="icon-circle sidemenu-icon">
				<ed-icon [icon]="item.icon" *ngIf="item.icon" ></ed-icon>
				<img [src]="item.img" width="25" height="25" *ngIf="item.img">
			</span>
		</a>

		<ul class="dropdown-menu dropdown-menu--sidemenu" role="menu">
			<li class="sidemenu-subtitle" *ngIf="item.subTitle">
				<span class="sidemenu-item-text">{{item.subTitle}}</span>
			</li>

			<li class="sidemenu-org-switcher">
				<a (click)="isSwitcheDialogOpened=true">
					<div>
						<div class="sidemenu-org-switcher__org-name">{{user.orgName}}</div>
						<div class="sidemenu-org-switcher__org-current">Current Org:</div>
					</div>
					<div class="sidemenu-org-switcher__switch">
						<i class="fa fa-fw fa-random" ></i>Switch
					</div>
				</a>
			</li>

			<li *ngFor="let child of item.children">
				<a [routerLink]="child.url">
					<i [ngClass]="[child.icon]"></i>{{child.text}}
				</a>
			</li>

			<li class="side-menu-header">
				<span class="sidemenu-item-text">{{item.text}}</span>
			</li>
		</ul>
	</div>
</div>


<ed-dialog *ngIf="isSwitcheDialogOpened"
	[(visible)]="isSwitcheDialogOpened" 
	header="Switch Organization"
	headerIcon="fa fa-random" >

	<ed-grid [data]="orgs$ | async" >

		<ed-grid-column field="name" title="Name">
		</ed-grid-column>

		<ed-grid-column field="role" title="Role">
			<ng-template let-dataItem >
				<span>{{RoleRef[dataItem.role]}}</span>
			</ng-template>
		</ed-grid-column>

		<ed-grid-column  >
			<ng-template let-dataItem>
				<span class="btn btn-primary btn-mini" *ngIf="user.orgId==dataItem.orgId; else switchToButton">
					Current
				</span>
				<ng-template #switchToButton>
					<a (click)="onSwitchOrg(dataItem)" class="btn btn-inverse btn-mini">
						Switch to
					</a>
				</ng-template>
		
			</ng-template>
		</ed-grid-column>

	</ed-grid>

</ed-dialog>