@import 'variables';
@import 'mixins/all';

.p-tieredmenu{

	&.p-tieredmenu-overlay{
		background-color: $dropdownBackground;
		text-align: left;
			
		margin-top: 0;
		border: $dropdownBorder;
		border-radius: 0;
	
		font-size: $font-size-base;
		font-family: $font-family-base;
	
		padding: 0;
		min-width: unset;
		color: $text-color;
		box-shadow: $menu-dropdown-shadow;

		width: unset;

		&.pretty{
			background-color: $dark-1;
			//box-shadow: 5px 5px 20px -5px #000;
			border: none;
		}
	}

	.p-submenu-list {
		background: $dropdownBackground;
		padding: 0;
		min-width: unset;
		color: $text-color;
		box-shadow: $menu-dropdown-shadow;
		border: $dropdownBorder;
		white-space: nowrap;
	}	

	.p-menuitem-link{
		display: block;
		padding: 6px 20px 6px 15px;
		font-weight: normal;
		color: $dropdownLinkColor;
		white-space: nowrap;
	}

	.p-menu-separator {
		border-top: 1px solid $divider-border-color;
		margin: 0;
	}

	.p-menuitem{
		&.p-menuitem-active > .p-menuitem-link {
			color: $dropdownLinkColorHover;
  		background-color: $dropdownLinkBackgroundHover;
		}
	}

	.p-menuitem-link:focus{
		box-shadow: none;
	}

	&.pretty{
		.p-menuitem{
			@include left-brand-border();

			&.p-menuitem-active {
				@include left-brand-border-gradient();
				
				> .p-menuitem-link {
					background-color: $menu-dropdown-hover-bg;

					
					.p-menuitem-text{
						color: $dropdownLinkColorHover;
					}
				}
			} 
		}
	}
}

