<ed-page [navigation]="'alert-list'" >

	<div class="page-action-bar">
		<ed-filterbox 
			placeholder="Search alerts"
			[(ngModel)]="filter">
		</ed-filterbox>

		<ed-dropdown 
			[data]="availableStates"
			[(ngModel)]="state"
			label="States" >
		</ed-dropdown>

		<div class="page-action-bar__spacer" ></div>

		<a class="btn btn-secondary">
			<i class="fa fa-info-circle mr-1"> </i>How to add an alert
		</a>
	</div> 

	<div *ngIf="rulesRequest.data$ | async; else loadOrError.template" >
		<ol class="alert-rule-list" >
			<li class="alert-rule-item" *ngFor="let a of rules">
				<div class="alert-rule-item__icon" [ngClass]="[getStateClass(a.state)]">
					<i [ngClass]="[getStateIconClass(a.state)]"></i>
				</div>
				<!-- <div class="alert-rule-item__body">
					<div class="alert-rule-item__header">
						<div class="alert-rule-item__text">
							<span [ngClass]="[getStateClass(a)]">{{a.alert?.currentState}}</span>
						</div>
					</div>
					<span class="alert-list-info">{{getInfo(a)}}</span>
				</div>
				<div class="alert-rule-item__time">
					<span>{{getFormattedTime(a)}}</span>
				</div> -->
			</li>
		</ol>
	</div>

	
		
</ed-page>


<load-or-error #loadOrError
	[loadingWrapper]="rulesRequest"
	[loadingMessage]="'loading alert rules...'"
	[errorMessage]="messages.BAD_GET_ALERT_RULES">
</load-or-error>


