<div *ngFor="let item of folders" class="search-section"  >
  <div class="search-section__header pointer" (click)="onExpandFolder( item )" >
    
    <ed-checkbox [(ngModel)]="item.selected"></ed-checkbox>

    <i class="search-section__header__icon fa" 
      [ngClass]="{'fa-folder': !expanded, 'fa-folder-open':expanded}" >
    </i>

    <span class="search-section__header__text">{{item.title}}</span>

    <a [routerLink]="item.url" class="search-section__header__link" *ngIf="item.url">
      <i class="fa fa-cog"></i>
    </a>

    <i class="fa search-section__header__toggle" 
      [ngClass]="{ 'fa-angle-down' : item.expanded, 'fa-angle-right': !item.expanded}">
    </i>

  </div>

  <div *ngIf="item.expanded">
    <a *ngFor="let db of item.dashboards" class="search-item search-item--indent" [routerLink]="db.url">
      <ed-checkbox [(ngModel)]="db.selected" class="db-checkbox" >

      </ed-checkbox>

      <span class="search-item__icon">
        <i class="gicon mini gicon-dashboard-list"></i>
      </span>

      <span class="search-item__body" >
        <div class="search-item__body-title">{{db.title}}</div>
        <span class="search-item__body-folder-title" *ngIf="db.folder.id">{{db.folder.title}}</span>
      </span>
    </a>
  </div>
  
</div>
