@import 'variables';
@import 'mixins/all';

.p-dialog{
	
	@include box-shadow(0 3px 7px rgba(0,0,0,0.3));
	@include background-clip(padding-box);
	
	outline: none;
	border: none;
	border-radius: 0;
	font-size: $font-size-base;
	font-family: $font-family-base;
	max-width: 750px;
	 
	.p-dialog-header {
		background: $page-header-bg;
		box-shadow: $page-header-shadow;
		border-bottom: 1px solid $page-header-border-color;
		padding: 0px;
		border-radius: 0;
		font-size:30px;

		padding-top: $spacer * 0.25;
		padding-bottom: $spacer * 0.15;

		.p-dialog-title {
			font-weight: normal;
			font-size: $font-size-h3;
			color: $headings-color;
		}
	}

	.p-dialog-content {
		//background: #161719;
		//color: var(--font1);
		background: $page-bg;
		padding: 0;

		.extra-spacer{
			padding: $spacer*2;
			margin-top: 0.75*$spacer;
			margin-bottom: 0.75*$spacer;
			margin-left: 0.5*$spacer;
			margin-right: 0.5*$spacer;
		}
	}

	.p-dialog-footer {
		border: none;
		background: $page-bg;
		//padding: $spacer*2;
		color: rgba(255, 255, 255, 0.87);
		border-radius: 0;
		padding: 0 0 1.5rem 0;
	}
}

.ed-dialog-actions{
	width: 100%;
	display: flex;
  justify-content: center;
}

.modal-content {
  padding: $spacer*2;

  &--has-scroll {
    max-height: calc(100vh - 400px);
    position: relative;
  }
}

.modal-footer {
  padding: 14px 15px 15px;
  border-top: 1px solid $panel-bg;
  background-color: $panel-bg;
  text-align: right; // right align buttons
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons
}

.confirm-modal-text {
	font-size: $font-size-h4;
	color: $link-color;
	margin-bottom: $spacer*2;
	padding-top: $spacer;
}

.confirm-modal-text2 {
	font-size: $font-size-root;
	padding-top: $spacer;
}



