<dashboard-toolbar [fullscreen]="true"></dashboard-toolbar>

<div class="pe-content" >
	<!-- <annotations-links-bar></annotations-links-bar> -->

	<panel class="my-5 mx-5" 
		[canMove]="false"
		[ngClass]="{'pe-widget-e': !readOnly, 'pe-widget-v': readOnly}"  #panelComponent  >

	</panel>

	<div class="pe-editor" *ngIf="!readOnly" >
		<ed-progress 
			message="loading plugin..." 
			class="plugin-loader"
			*ngIf="loadingPlugin" >
		</ed-progress>

		<div *ngIf="loadingPluginError" class="plugin-loading-error text-warning">
			Failed to load and create [{{plugin.id}}] editor instance</div>

    <ng-template widget-editor-anchor></ng-template>
  </div>
</div>