>>> .p-dropdown {
	background: transparent;
	border: solid 1px var(--border1);
	border-left: none;
	border-radius: 0 3px 3px 0;
	color: var(--font2);
	width: 100%;
	line-height: 1.5
}

.ed-form >>>.p-dropdown:not(.p-disabled).p-focus {
	box-shadow:none;
	border-color: var(--border1);
}

.ed-form >>> .p-dropdown:hover{
	border: solid 1px var(--border1);
	border-left: none;
}

 >>> .p-dropdown-label,
 >>>.p-dropdown-items {
	font-size: 13px !important;
	font-family: Roboto,Helvetica,Arial,sans-serif;
}

>>>.p-inputtext {
	padding: 6px 12px 6px 12px;
}

 >>>.pretty.p-dropdown-panel{
	background-color: #111111;
	border-radius: 0;
	border:none;
}

 >>>.pretty.p-dropdown-panel  .p-dropdown-items{
	padding: 0;
}

 >>>.pretty.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
	padding: 3px 10px 3px 10px;
	color: var( --font3 ) ; 
}

 >>>.normal.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
	padding: 3px 10px 3px 10px;
	color: var( --font3 ) ; 
	padding: 0.5rem 0.7rem;
}

 >>> .pretty.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
	color: #f2f2f2;
	background-color: #0275d8;
	padding: 3px 10px 3px 10px;
}

 >>> .normal.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
 >>> .normal.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
	color: #f2f2f2;
	background-color: #1f1f20;
	padding: 0.5rem 0.7rem;
	
	background-image: linear-gradient(180deg,white 0,gray 99%,gray);
  background-size: 2px 100%;
  background-position: left;
  background-repeat: no-repeat;
	
}

>>>.pretty.p-dropdown-panel .pretty.p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
	background-color: #040404;
	color: #f2f2f2;
}

 >>>.pretty.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
	background-color: #040404;
	color: #f2f2f2;
}

>>>.p-tooltip.p-tooltip-right .p-tooltip-arrow {
	border-right-color: #006081;
}

>>>.p-tooltip .p-tooltip-text{
	background-color:#006081;
  border-radius: 2px;
  color: var(--font2);
  font-size: 0.7rem;
  padding: 6px 7px;
}





