@import 'variables';
@import 'mixins/all';

$select-input-height: 35px;
$select-input-bg-disabled: $input-bg-disabled;
$select-input-item-padding: 7px 10px 7px 10px;

@mixin select-control-focus() {
  border-color: $input-border-focus;
  outline: none;
  $shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $input-box-shadow-focus;
  @include box-shadow($shadow);
}

@mixin select-control() {
  width: 100%;
  margin-right: $gf-form-margin;
  @include border-radius($input-border-radius);
  background-color: $input-bg;
}

::ng-deep .p-dropdown {
	background: transparent;
	@include select-control();

	border: 1px solid $input-border-color;
	border-left: none;
	color: $input-color;
	height: $select-input-height;

	align-items: center;

	.p-dropdown-label	{
		font-size: $font-size-base;
		font-family: $font-family-base;
	}

	&:not(.p-disabled){
		&.p-focus {
			box-shadow:none;
			border: 1px solid $input-border-color;
			border-left: none;
			@include select-control-focus();
		}

		&:hover{
			border: 1px solid $input-border-color;
			border-left: none;
		}
	}

	.p-inputtext {
		//padding: 4px 12px 6px 12px;
		color: $input-color;
	}
}

::ng-deep .p-dropdown-panel{
	border-radius: 0;
	border:none;

	font-size: $font-size-base;
	font-family: $font-family-base;

	background-color: $dropdownBackground;
	border-radius: 0;
	border:none;

	.p-dropdown-items {
		padding: 0;
		
		.p-dropdown-item {
			padding: 3px 10px 3px 10px;
			color: var( --font3 ) ; 
			padding: 0.5rem 0.7rem;

			&.p-highlight{
				color: #f2f2f2;
				background-color: #1f1f20;
			}
			&:not(.p-highlight):not(.p-disabled):hover {
				color: #f2f2f2;
				background-color: #0275d8;
			}
		}
	}

	&.pretty{
		.p-dropdown-items {
			.p-dropdown-item {
				padding: $select-input-item-padding;
				@include left-brand-border();

				&.p-highlight{
					background-color: transparent;

					&:hover{
						@include left-brand-border-gradient();
						background-color: $dropdownLinkBackgroundHover;
					}
					::after{
						font-family: FontAwesome;
						content: "\f00c";
						position: absolute;
						right: 5px;
					}
				}

				&:not(.p-highlight):not(.p-disabled):hover {
					color: $dropdownLinkColorHover;
    			background-color: $dropdownLinkBackgroundHover;
					padding: $select-input-item-padding;

					@include left-brand-border-gradient();
				}
			}
		}
	}
}










