<div class="panel-header grid-drag-handle">
	<!-- 'grid-drag-handle': !isFullscreen -->
	<span class="panel-info-corner">
		<i class="fa" ></i>
		<span class="panel-info-corner-inner" ></span>
	</span>

	<span class="panel-loading" *ngIf="loading">
		<i class="fa fa-spinner fa-spin" ></i>
	</span>

	<div class="panel-title-container">

		<div class="panel-title">
			<span class="icon-gf panel-alert-icon" ></span>
			<span class="panel-title-text" (click)="cm.show( $event )">
				{{panel?.widget?.info.title}} <span class="fa fa-caret-down panel-menu-toggle" ></span>
			</span>

			<!-- <span class="panel-time-info">
				<i class="fa fa-clock-o" ></i> 4m
			</span> -->
		</div>

	</div>
</div>

<ed-context-menu #cm 
	[items]="contextMenuItems" 
	[prettySelection]="true">
</ed-context-menu>
