<ed-page [navigation]="'playlists'">

	<div *ngIf="playlistsRequest.data$ | async; else loadOrError.template" >

		<div *ngIf="playlists?.length > 0; else invitation">
			<div class="page-action-bar">
		
				<div class="page-action-bar__spacer" ></div>
		
				<a class="btn btn-success"  [routerLink]="'new'"><i class="fa fa-plus mr-1"></i>New Playlist</a>
			</div> 

					
			<ed-grid 
				[data]="playlists" 
				[selectable]="true"		
				(selected)="router.navigate(['edit', $event.id], { relativeTo: activatedRoute })" 
				>

				<!-- -->
			
				<ed-grid-column field="name" title="Name" >
				</ed-grid-column>

				<ed-grid-column >
					<ng-template let-dataItem let-rowIndex="rowIndex">

						<div class="dropdown">
							<button class="btn btn-inverse btn-small pull-right" 
								(click)="onStartPlaylist( dataItem );$event.stopPropagation();">
								Start playlist
								<i class="fa fa-caret-down"></i>
							</button>

						</div>
						
					</ng-template>
				</ed-grid-column>
		
				<ed-grid-delete-column 
					(delete)="onRemovePlaylist($event)" 
					[sliding]="false">
				</ed-grid-delete-column>
		
			</ed-grid>
		</div>

		<ng-template #invitation>
			<ed-empty-list 
				(ready)="router.navigate( ['new'], { relativeTo: activatedRoute } )"
				title="There are no playlists created yet."
				buttonTitle="Create Playlist"
				buttonIcon="fa fa-plus"
				proTip="You can use playlists to cycle dashboards on TVs without user control.">
			</ed-empty-list>
		</ng-template>
	
	</div>

	<load-or-error #loadOrError
		[loadingWrapper]="playlistsRequest"
		[loadingMessage]="'loading playlists...'"
		[errorMessage]="messages.BAD_GET_TEAMS">
	</load-or-error>

	<ed-context-menu #cm [items]="cmItems" >
	</ed-context-menu>

</ed-page>











