<div class="panel-header grid-drag-handle">
	<!-- 'grid-drag-handle': !isFullscreen -->
	
	<panel-info-corner></panel-info-corner>

	<span class="panel-loading" *ngIf="panel?.loading">
		<i class="fa fa-spinner fa-spin" ></i>
	</span>

	<div class="panel-title-container">

		<div class="panel-title">
			<span class="icon-gf panel-alert-icon" ></span>
			<span class="panel-title-text" (click)="cm.show( $event )">
				{{title}} <span class="fa fa-caret-down panel-menu-toggle" ></span>
			</span>
		</div>

		<span class="panel-time-info" *ngIf="showTimeModLabel">
			<i class="fa fa-clock-o" ></i> {{timeModLabel}}
		</span>

	</div>

</div>

<ed-context-menu #cm 
	[items]="contextMenuItems" 
	[prettySelection]="true">
</ed-context-menu>
