@import 'variables';
@import 'mixins/all';


.panel-header {
  &:hover{
    transition: background-color 0.1s ease-in-out;
    background-color: $panel-header-hover-bg;
  }
}

.panel-loading {
  position: absolute;
  top: -3px;
  right: 0px;
  z-index: 800;
  font-size: $font-size-sm;
  color: $text-color-weak;
}

.panel-title-container {
  min-height: 9px;
  cursor: move;
  word-wrap: break-word;
  display: block;
}

.panel-menu-toggle {
  color: $text-color-weak;
  cursor: pointer;
  padding: 3px 5px;
  visibility: hidden;
  opacity: 0;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 2px;

  &:hover {
    color: $link-hover-color;
  }
}

.panel-title {
  border: 0px;
  font-weight: $font-weight-semi-bold;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 4px 0 4px;
}

.panel-title-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 38px);
  cursor: pointer;
  font-weight: $font-weight-semi-bold;

  &:hover {
    color: $link-hover-color;
  }
  .panel-has-alert & {
    max-width: calc(100% - 54px);
  }
}

.panel-time-info {
  font-weight: bold;
  float: right;
  margin-right: 15px;
  color: $blue;
  font-size: 85%;
  position: absolute;
  top: 4px;
  right: 0;
}




