	<div *ngFor="let item of menuProvider.items" class="sidemenu-item dropdown" >
		<a class="sidemenu-link" href={link.url} target={link.target}>
			<span class="icon-circle sidemenu-icon">

				<!-- todo -->
				<fa-icon [icon]="item.icon" *ngIf="item.icon"></fa-icon>	
				<div class="gicon" *ngIf="item.img" [ngClass]="[item.img]"></div>
				
			</span>
		</a>


		<ul class="dropdown-menu dropdown-menu--sidemenu" role="menu">
			<li class="side-menu-header">
				<span class="sidemenu-item-text">{{item.text}}</span>
			</li>
		
			<li *ngFor="let child of item.children">
				<a href="child.url">
					<!-- <fa-icon [icon]="child.icon" *ngIf="child.icon"></fa-icon>	 -->
					<i class="gicon" *ngIf="child.img" [ngClass]="[child.img]"></i>
					{{child.text}}
				</a>
			</li>
		
		</ul>
		
	</div>