	<div *ngFor="let item of menuProvider.items" class="sidemenu-item dropdown" >
		<a class="sidemenu-link" href={link.url} target={link.target}>
			<span class="icon-circle sidemenu-icon">
				<ed-icon [icon]="item.icon"   ></ed-icon>
			</span>
		</a>

		<ul class="dropdown-menu dropdown-menu--sidemenu" role="menu">
			<li class="side-menu-header">
				<span class="sidemenu-item-text">{{item.text}}</span>
			</li>
		
			<li *ngFor="let child of item.children">
				<a href="child.url">
					<ed-icon [icon]="child.icon" ></ed-icon>
					<span class="ml-3">{{child.text}}</span>
				</a>
			</li>
		
		</ul>
		
	</div>