<div class="tabbed-view tabbed-view--new">
	
	<div class="tabbed-view-header">
		<h3 class="tabbed-view-panel-title">
			{{header}}
		</h3>
		<ul class="gf-tabs">
			<li *ngFor="let tab of tabs; let i = index" class="gf-tabs-item" (click)="value=i" >
				<a class="gf-tabs-link" [ngClass]="{'active': tab.selected}" >
					 {{tab.header}}
				</a>
			</li>
			
		</ul>

		<button class="tabbed-view-close-btn" ng-click="ctrl.exitFullscreen();" *ngIf="showCloseButton">
			<i class="fa fa-remove" ></i>
		</button>
	</div>


	<div *ngFor="let t of tabs" >
		<div *ngIf="t.selected" class="tabbed-view-body">
			<ng-container [ngTemplateOutlet]="t.contentTemplate.templateRef"
				[ngTemplateOutletContext]="{$implicit: t }" >
			</ng-container>
		</div>
	</div>


</div>