@import 'variables';
@import 'mixins/all';

.tabbed-view {
  display: flex;
  flex-direction: column;
  //height: 100%;

  // &.tabbed-view--new {
  //   padding: 25px 0 0 0;
  //   height: 100%;
  // }
}

.tabbed-view-header {
  box-shadow: $page-header-shadow;
  border-bottom: 1px solid $page-header-border-color;
  @include clearfix();
}

.tabbed-view-title {
  float: left;
  padding-top: 0.5rem;
  margin: 0 $spacer*3 0 $spacer*1;
}

.tabbed-view-panel-title {
  float: left;
  padding-top: 9px;
  margin: 0 2rem 0 0;
}

.tabbed-view-close-btn {
  float: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: $tabs-padding;
  color: $text-color;
  i {
    font-size: 120%;
  }
  &:hover {
    color: $text-color-strong;
  }
}

.tabbed-view-body {
  padding: $spacer*2 $spacer $spacer $spacer;
  display: flex;
  flex-direction: column;
  flex: 1;

  &--small {
    min-height: 0px;
    padding-bottom: 0px;
  }
}

.section-heading {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}


.gf-tabs {
  @include clearfix();
  float: left;
  position: relative;
  top: 1px;
}

.gf-tabs-item {
  float: left;
  list-style: none;
}

.gf-tabs-link {
  padding: $tabs-padding;
  margin-right: $spacer/2;
  position: relative;
  display: block;
  border: solid transparent;
  border-width: 0 1px 1px;
  border-radius: 3px 3px 0 0;
  color: $text-color;

  i {
    margin-right: 5px;
  }

  .gicon {
    position: relative;
    top: -2px;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $orange $tab-border-color transparent;
    background: $page-bg;
    color: $link-color;
    overflow: hidden;

    &::before {
      display: block;
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      top: 0;
      background-image: linear-gradient(to right, #ffd500 0%, #ff4400 99%, #ff4400 100%);
    }
  }
  &.active--panel {
    background: $panel-bg !important;
  }
}
