<span class="gf-form gf-form-label" *ngIf="!showSuggestions" (click)="showSuggestions=true" >

  <a *ngIf="value && value.length > 0; else placeholders" [ngClass]="[valueClass]">{{formattedValue}}</a>

  <ng-template #placeholders>
    <i *ngIf="isIconPlaceholder; else textPlaceholder" [class]="placeholder" ></i>
    <ng-template #textPlaceholder>{{placeholder}}</ng-template>
  </ng-template>
    
</span>

<ed-autocomplete *ngIf="showSuggestions"
  [width]="7"
  [request]="request"
  (valueChange)="onAutocompleteValueChanged($event)" 
  [forceSelection]="forceSelection"
  #autocomplete >
</ed-autocomplete>


