<div class="navbar" [ngClass]="{
	'sidemenu-open': nav?.visible,
	'panel-in-fullscreen': fullscreen,
	'dashboard-page--settings-open': settingsOpen }">

	<div>
		<a class="navbar-page-btn" (click)="showSearch=true">
			<i class="gicon gicon-dashboard"></i>
			<span *ngIf="dashboard?.meta.folder?.id" class="navbar-page-btn--folder">{{dashboard?.meta.folder.title}} / </span>{{dashboard?.title}}
			<i class="fa fa-caret-down"></i>
		</a>
	</div>

	<div class="navbar__spacer"></div>

	<div class="navbar-buttons navbar-buttons--actions">

		<ed-plugin-picker (selected)="add.emit( $event )" 
			*ngIf="dashboard?.meta.canSave && dashboard?.data.editable"></ed-plugin-picker>

		<button class="btn navbar-button navbar-button--star" *ngIf="dashboard?.meta.canStar"
			(click)="onStar()" [edHint]="'Mark as favorite'" >
			<i class="fa" [ngClass]="{'fa-star-o': !dashboard?.meta.isStarred, 'fa-star': dashboard?.meta.isStarred}"></i>
		</button>

		<button class="btn navbar-button navbar-button--share" *ngIf="dashboard?.meta.canShare"
			(click)="showShare=true" [edHint]="'Share dashboard'" >
			<i class="fa fa-share-square-o"></i>
		</button>

		<button class="btn navbar-button navbar-button--save" 
			*ngIf="dashboard?.meta.canSave && dashboard?.data.editable"
			(click)="saver.save()" [edHint]="'Save dashboard <br> CTRL+S'" >
			<i class="fa fa-save"></i>
		</button>

		<!-- <a class="btn navbar-button navbar-button--share"  [edHint]="'Open original dashboard'" >
			<i class="fa fa-link"></i>
		ng-if="::ctrl.dashboard.snapshot.originalUrl" href="{{ctrl.dashboard.snapshot.originalUrl}}"
		</a> -->

		<a class="btn navbar-button navbar-button--settings" 
			[routerLink]="[ dashboard?.url, 'settings']"
			[edHint]="'Settings'" *ngIf="dashboard?.meta.canSave"
			ng-show="ctrl.dashboard.meta.showSettings">
			<i class="fa fa-cog"></i>
		</a>
	</div>

	<ed-time-range-picker class="gf-timepicker-nav" *ngIf="!dashboard?.data.hideTimePicker">
	</ed-time-range-picker>

	<div class="navbar-buttons navbar-buttons--close">
		<a class="btn navbar-button navbar-button--primary" 
			[routerLink]="[returnUrl]" [edHint]="'Back to dashboard'" >
			<i class="fa fa-reply"></i>
		</a>
	</div>
	
</div>

<dashboard-search *ngIf="showSearch" (close)="showSearch=false" ></dashboard-search>

<dashboard-saver #saver></dashboard-saver>

<dashboard-sharer *ngIf="showShare" (close)="showShare=false"></dashboard-sharer>