<div class="navbar" [ngClass]="{'sidemenu-open': nav?.visible}">

	<div>
		<a class="navbar-page-btn" (click)="showSearch=true">
			<i class="gicon gicon-dashboard"></i>
			<span *ngIf="dashboard?.meta.folder" class="navbar-page-btn--folder">{{dashboard?.meta.folder.title}} / </span>{{dashboard?.title}}
			<i class="fa fa-caret-down"></i>
		</a>
	</div>

	<div class="navbar__spacer"></div>

	<div class="navbar-buttons navbar-buttons--actions">
		<button class="btn navbar-button navbar-button--add-panel" ng-show="::ctrl.dashboard.meta.canSave"
			bs-tooltip="'Add panel'" data-placement="bottom" ng-click="ctrl.addPanel()">
			<i class="gicon gicon-add-panel"></i>
		</button>

		<button class="btn navbar-button navbar-button--star" *ngIf="dashboard?.meta.canStar"
			(click)="onStar()" bs-tooltip="'Mark as favorite'" data-placement="bottom">
			<i class="fa" [ngClass]="{'fa-star-o': !dashboard?.meta.isStarred, 'fa-star': dashboard?.meta.isStarred}"></i>
		</button>

		<button class="btn navbar-button navbar-button--share" *ngIf="dashboard?.meta.canShare"
			ng-click="ctrl.shareDashboard(0)" bs-tooltip="'Share dashboard'" data-placement="bottom">
			<i class="fa fa-share-square-o"></i>
		</button>

		<button class="btn navbar-button navbar-button--save" ng-show="ctrl.dashboard.meta.canSave"
			ng-click="ctrl.saveDashboard()" bs-tooltip="'Save dashboard <br> CTRL+S'" data-placement="bottom">
			<i class="fa fa-save"></i>
		</button>

		<a class="btn navbar-button navbar-button--snapshot-origin"  bs-tooltip="'Open original dashboard'" data-placement="bottom">
			<i class="fa fa-link"></i>
			<!-- ng-if="::ctrl.dashboard.snapshot.originalUrl" href="{{ctrl.dashboard.snapshot.originalUrl}}" -->
		</a>

		<button class="btn navbar-button navbar-button--settings" ng-click="ctrl.toggleSettings()"
			bs-tooltip="'Settings'" data-placement="bottom" ng-show="ctrl.dashboard.meta.showSettings">
			<i class="fa fa-cog"></i>
		</button>
	</div>

	<ed-time-range-picker class="gf-timepicker-nav" ng-if="!ctrl.dashboard.timepicker.hidden">
	</ed-time-range-picker>

	
</div>

<dashboard-search *ngIf="showSearch" (close)="showSearch=false" ></dashboard-search>