<div class="gf-form " #anchor>

  <div class="gf-form-label" [ngClass]="getLabelWidth()" >

    <div class="ed-flex">

      
      <span *ngIf="label">{{label}}</span><span>&nbsp;</span>

      <span [pTooltip]="tooltip" *ngIf="tooltip" class="gf-form-help-icon gf-form-help-icon--right-normal">
        <i class="fa fa-info-circle ml-1"></i>
      </span>

      <div class="width-spacer"></div>

      <div class="sp-replacer sp-light pointer">
        <div class="sp-preview cp__color-empty" [style.background]="value"
          (click)="showPaletteDialog=!showPaletteDialog">
        </div>
      </div>
    </div>
  </div>

  <ed-popup [(visible)]="showPaletteDialog" [anchor]="anchor">
    <ed-palette-editor [(ngModel)]="value" (selected)="selected.emit( $event ); pick.emit($event)">
    </ed-palette-editor>
  </ed-popup>

</div>

