<p-tabView 
  (onChange)="tabSelect.emit($event.index)"
  [orientation]="'left'" >

  <p-tabPanel *ngFor="let t of tabs"
    [selected]="t.selected"
    [header]="t.header"
    [disabled]="t.disabled"
    [cache]="false" >
    
    <ng-template pTemplate="header" *ngIf="t.titleTemplate">
      <ng-container [ngTemplateOutlet]="t.titleTemplate.templateRef"
        [ngTemplateOutletContext]="{$implicit: t }">
      </ng-container>
    </ng-template>

    <ng-template pTemplate="content"  *ngIf="t.contentTemplate" >
      <ng-container [ngTemplateOutlet]="t.contentTemplate.templateRef"
        [ngTemplateOutletContext]="{$implicit: t }">
      </ng-container>
    </ng-template>

  </p-tabPanel>

</p-tabView>
