	<div class="sidemenu" 
		[ngClass]="{'sidemenu-open': menuService.visible, 'sidemenu-open--xs': menuService.opened }" >

		<div class="sidemenu__logo" key="logo" (click)="menuService.toggle()">
			<img src="/assets/img/grafana_icon.svg" alt="Grafana" />
		</div>
	
		<div class="sidemenu__logo_small_breakpoint" (click)="menuService.toggleMobile()" >
			<fa-icon icon="bars"></fa-icon>		
			<span class="sidemenu__close" >
				<fa-icon icon="times"></fa-icon>Close
			</span>
		</div>
	
		<sidebar-top class="sidemenu__top" ></sidebar-top>
		<sidebar-bottom class="sidemenu__bottom"></sidebar-bottom>
	
	</div>