<ed-page [navigation]="'teams'">

	<div *ngIf="teamsRequest.data$ | async; else loadOrError.template" >

		<div *ngIf="teams?.length > 0; else invitation">
			<div class="page-action-bar">
				<ed-filterbox placeholder="Search teams" 	[(ngModel)]="filter"></ed-filterbox>
		
				<div class="page-action-bar__spacer" ></div>
		
				<a class="btn btn-success"  [routerLink]="'new'">New team</a>
			</div> 
		
			<ed-grid 
				[data]="teams | teamNameFilter:filter" 
				[selectable]="true"		
				(selected)="router.navigate(['edit', $event.id], { relativeTo: activatedRoute })">
				
				<ed-grid-column field="avatar" title="" width="50">
					<ng-template let-dataItem let-rowIndex="rowIndex">
						<ed-avatar [key]="dataItem.name"></ed-avatar>
					</ng-template>
				</ed-grid-column>
		
				<ed-grid-column field="name" title="Name" >
				</ed-grid-column>
		
				<ed-grid-column field="email" title="Email" >
				</ed-grid-column>
		
				<ed-grid-column field="membersCount" title="Members" >
				</ed-grid-column>
		
				<ed-grid-delete-column (delete)="onRemoveTeam($event)">
				</ed-grid-delete-column>
		
			</ed-grid>
		</div>

		<ng-template #invitation>
			<ed-empty-list 
				(ready)="router.navigate( ['new'], { relativeTo: activatedRoute } )"
				title="You haven't created any teams yet."
				buttonTitle="New team"
				buttonIcon="fa fa-plus"
				proTip="Assign folder and dashboard permissions to teams instead of users to ease administration.">
			</ed-empty-list>
		</ng-template>
	
	</div>

	<load-or-error #loadOrError
		[loadingWrapper]="teamsRequest"
		[loadingMessage]="'loading teams...'"
		[errorMessage]="messages.BAD_GET_TEAMS">
	</load-or-error>

</ed-page>











