<div class="gf-form-inline">
	<div class="gf-form gf-form--grow">
		<label class="gf-form-label width-15">Name</label>

		<input type="text" class="gf-form-input" spellcheck="false"
			[(ngModel)]="name" (input)="onChange(name)">

		<label class="gf-form-label text-success" *ngIf="namePresent && nameNotTaken && !validating && okRequest" >
			<i class="fa fa-check"></i>
		</label>
	</div>
</div>

<ed-validation-message offset="15" *ngIf="nameTaken">
	A dashboard in this folder with the same name already exists
</ed-validation-message>

<ed-validation-message  offset="15" *ngIf="nameAbsent">
	Please enter name
</ed-validation-message>

<ed-validation-message  offset="15" *ngIf="badRequest">
	Bad API request
</ed-validation-message>

