<form [formGroup]="form" #formDir="ngForm" >
	<h3 class="section-heading">
		Options
	</h3>

	<div class="gf-form-group">

		<import-dashboard-name-editor formControlName="name" #ctrlName ></import-dashboard-name-editor>

		<ed-folder-picker
			formControlName="folder"
			label="Folder"
			labelWidth="15"
			(pick)="name.updateValueAndValidity()" >
		</ed-folder-picker>

		<import-dashboard-uid-editor formControlName="uid" #ctrlUid ></import-dashboard-uid-editor>

	</div>

	<div class="gf-form-button-row">

		<button type="button" class="btn btn-success width-12" (click)="onImport()"
			*ngIf="ctrlName.nameNotTaken && ctrlUid.uidNotTaken"
			[disabled]="ctrlName.nameAbsent || ctrlName.validating || ctrlUid.validating || ctrlName.badRequest || ctrlUid.badRequest || saving" >
			<i class="fa fa-save"></i> {{ !saving ? 'Import' : 'Saving...' }} 
		</button>

		<button type="button" class="btn btn-danger width-12" (click)="onImport( true )"
			*ngIf="ctrlName.namePresent && ( ctrlName.nameTaken || ctrlUid.uidTaken )"
			[disabled]="ctrlName.validating || ctrlUid.validating || ctrlName.badRequest || ctrlUid.badRequest" >
			<i class="fa fa-save"></i> Import (Overwrite)
		</button>

		<a class="btn btn-link" (click)="close.emit()">Cancel</a>
	</div>

</form>

