@import 'variables';
@import 'mixins/all';

.search-section {
  background: $panel-bg;
  border: $panel-border;
  padding: 0px 4px 4px 4px;
  margin-bottom: 3px;
  border-radius: 5px;
}


.search-section__header {
  font-size: $font-size-h6;
  padding: 7px 4px 3px 0;
  color: $text-color-weak;
  display: flex;
  flex-grow: 1;

  &:hover,
  &.selected {
    color: $text-color;
  }

  &:hover {
    .search-section__header__link {
      opacity: 1;
    }
  }
}

.search-section__header__icon {
  padding: 5px 0px;
  width: 43px;
  text-align: center;
}

.search-section__header__toggle {
  padding: 5px;
}

.search-section__header__text {
  flex-grow: 1;
  line-height: 24px;
}

.search-section__header__link {
  padding: 2px 10px 0;
  color: $text-muted;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}