@import 'variables';
@import 'mixins/all';

.p-tieredmenu{

	&.p-tieredmenu-overlay{
		background-color: $dropdownBackground;
		text-align: left;
			
		margin-top: 0;
		border: $dropdownBorder;
		border-radius: 0;
	
		font-size: $font-size-base;
		font-family: $font-family-base;
	
		padding: 0;
		min-width: unset;
		color: $text-color;
		box-shadow: $menu-dropdown-shadow;

		width: unset;

		&.pretty{
			background-color: $dark-1;
			//box-shadow: 5px 5px 20px -5px #000;
			border: none;
		}
	}



	.p-submenu-list {
		// padding: 0;
		// background-color: #262628;
		// border: none;
		// box-shadow: none;
		// min-width: unset !important;
		// border: 1px solid rgba(0, 0, 0, .2);
	}

	.p-menu-separator {
		border-top: 1px solid $divider-border-color;
		margin: 0;
	}

	.p-menuitem{
		&.p-menuitem-active > .p-menuitem-link {
			color: $dropdownLinkColorHover;
  		background-color: $dropdownLinkBackgroundHover;
		}
	}

	.p-menuitem-link:focus{
		box-shadow: none;
	}

	&.pretty{
		.p-menuitem{
			@include left-brand-border();

			&.p-menuitem-active {
				@include left-brand-border-gradient();
				
				> .p-menuitem-link {
					background-color: $menu-dropdown-hover-bg;

					
					.p-menuitem-text{
						color: $dropdownLinkColorHover;
					}
				}
			} 
		}
	}
}



>>>.p-tieredmenu .p-menuitem-link,
>>>.pretty.p-tieredmenu .p-menuitem-link{
	cursor: pointer;
	
	display: flex;
	align-items: center;
	text-decoration: none;
	overflow: hidden;
	position: relative;

	padding: 6px 15px 6px 15px;
	color: #d8d9da;
	white-space: nowrap;
	font-weight: normal;
}

>>>.pretty.p-tieredmenu .p-menuitem-link{
	padding: 0.5rem 0.7rem;
}

