<ed-page [navigation]="navigation">
	<div *ngIf="teamMembersRequest?.data$ | async; else loadOrError.template" >

		<div class="page-action-bar">
			<ed-filterbox placeholder="Search members" 	[(ngModel)]="filter"></ed-filterbox>
	
			<div class="page-action-bar__spacer" ></div>
	
			<button class="btn btn-success" (click)="showAddMemberBand=true" [disabled]="showAddMemberBand">
				<i class="fa fa-plus mr-1"></i>Add a member
			</button>
		</div> 

		<ed-slidedown *ngIf="showAddMemberBand" (close)="showAddMemberBand=false">
			<h5>Add Team Member</h5>

			<div class="gf-form-inline">
				<ed-user-picker 
					[users]="availableUsersCandidates"
					[(ngModel)]="selectedUserCandidate"
					(selected)="selectedUserCandidate = $event">
				</ed-user-picker>

				<button class="btn btn-success gf-form-btn ml-1" (click)="onAdd()" *ngIf="selectedUserCandidate">
					Add to team
				</button>
			</div>
		
		</ed-slidedown>
	
		<ed-grid [data]="teamMembers|teamMemberNameFilter:filter">

			<ed-grid-column field="avatar" title="" width="50">
				<ng-template let-dataItem>
					<ed-avatar [key]="dataItem.email" ></ed-avatar>
				</ng-template>

			</ed-grid-column>

			<ed-grid-column field="login" title="Name">
			</ed-grid-column>

			<ed-grid-column field="email" title="Email">
			</ed-grid-column>

			<ed-grid-delete-column (delete)="onRemove($event)">
			</ed-grid-delete-column>

		</ed-grid>
	</div>

	<load-or-error #loadOrError 
		[loadingWrapper]="teamMembersRequest"
		[loadingMessage]="'loading team members...'"
		[errorMessage]="messages.BAD_GET_TEAM_MEMBERS">
	</load-or-error>
</ed-page>