<ed-page [navigation]="navigation">

	<div *ngIf="permRulesRequest?.data$ | async; else loadOrError.template" [@fadeInOut]>
		<div class="page-action-bar">
			<h3 class="page-sub-heading">Folder Permissions</h3>
	
			<div class="page-action-bar__spacer" ></div>
	
			<button class="btn btn-success" (click)="showPermissionPicker=true" [disabled]="showPermissionPicker">
				<i className="fa fa-plus" ></i> Add Permission
			</button>
		</div>
	
		<ed-slidedown *ngIf="showPermissionPicker" (close)="showPermissionPicker=false">
			<h5>Add Permission For</h5>
			<ed-permission-rule-picker (selected)="onAddPermission( $event )"></ed-permission-rule-picker>
		</ed-slidedown>

		<ed-grid [data]="permissions" [highlight]="false">

			<ed-grid-column field="avatar" width="50">
				<ng-template let-dataItem>
					<ed-permission-icon [rule]="dataItem"></ed-permission-icon>
				</ng-template>
			</ed-grid-column>

		  <ed-grid-column field="label" >
				<ng-template let-perm >
					<span>{{perm.label}}
						<span class="filter-table__weak-italic">({{ perm.role ? 'Role' : perm.target}})</span>
					</span>
				</ng-template>
			</ed-grid-column>
	

			<ed-grid-column width="40">
				<ng-template let-dataItem>
					<div [ngClass]="{'gf-form-disabled': dataItem?.role==RoleRef.Admin}">
						<span class="query-keyword">Can</span>
					</div>
				</ng-template>
			</ed-grid-column>

			<ed-grid-column width="150">
				<ng-template let-dataItem>
					<ed-permission-picker 
						[(ngModel)]="dataItem.permission" 
						[disabled]="dataItem?.role==RoleRef.Admin"
						(selected)="onChangePermission( dataItem )" >
					</ed-permission-picker>
				</ng-template>
			</ed-grid-column>

			<ed-grid-column width="10" >
				<ng-template let-dataItem >
					<a class="btn btn-inverse btn-small" *ngIf="dataItem?.role==RoleRef.Admin; else delete">
						<i class="fa fa-lock" ></i>
					</a>
					<ng-template #delete>
						<a class="btn btn-danger btn-small" (click)="onRemovePermission( dataItem ) ">
							<i class="fa fa-remove" ></i>
						</a>
					</ng-template>
				</ng-template>
			
			</ed-grid-column>

		</ed-grid>
	</div>

	<load-or-error #loadOrError 
		[loadingWrapper]="permRulesRequest" 
		[loadingMessage]="'loading folder permissions...'"
		[errorMessage]="messages.BAD_GET_FOLDER_PERMS">
	</load-or-error>

</ed-page>

