@import 'variables';

:host ::ng-deep .p-toast{
	width: 19rem;
	top: 60px;
	right: 10px;

	.p-toast-message {
		border-radius: $border-radius;
		padding: 0rem;
		font-size: $font-size-root;
		font-family: $font-family-sans-serif;

		color: $white;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

		border:none;

		&.p-toast-message-success{
			background: $alert-success-bg;
		}

		&.p-toast-message-error{
			background: $alert-error-bg;
		}
	}

	.alert-icon {
		padding: 0 1rem 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		&.fa {
			font-size: 1.5rem;
		}
	}
}


